astroid==1.6.5
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
get==1.0.3
idna==2.6
isort==4.3.4
lazy-object-proxy==1.3.1
lxml==4.9.1
mccabe==0.6.1
numpy==1.14.5
panda==0.3.1
pandas==0.23.1
post==1.0.2
public==1.0.3
pylint==1.9.2
python-dateutil==2.7.3
pytz==2018.4
query-string==1.0.2
request==1.0.2
requests==2.18.4
six==1.11.0
urllib3==1.22
wrapt==1.10.11
